$primary-color: #064771;
$warning-color: #fbd4a2;
$error-color: #ebcccc;
$success-color: #82dfa2;
$navbar-bg-color: #333333;

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        color: darken($primary-color, 6%);
    }
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
