.field {
    margin-bottom: 1rem;

    .label {
        display: inline-block;
        margin: 0 0 .3rem;
    }

    .help {
        color: #888;
        display: inline-block;
        margin: .3rem 0 0;
    }
}

.input,
.textarea,
.select {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gainsboro;
    border-radius: .2rem;
    outline: none;

    &:focus {
        border-color: lighten($primary-color, 20%);
    }
}

.input {
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0 .8rem;
}

.textarea {
    padding: .8rem;
    resize: vertical;
}

.select {
    height: 2.4rem;
    padding: 0 .8rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 16px 12px;
    appearance: none;
}

.btn {
    height: 2.4rem;
    outline: none;
    padding: 0 .8rem;
    box-sizing: border-box;
    border: 0;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    gap: .2rem;
    font-weight: bold;
    color: #333;
    background-color: #e6e6e6;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #dfdfdf;
    }

    &.btn-full {
        display: block;
        width: 100%;
    }

    &.btn-primary {
        color: #fff;
        background-color: $primary-color;

        &:hover,
        &:focus {
            background-color: darken($primary-color, 6%);
        }
    }
}

.submit {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
