.navbar {
    color: #fff;
    background-color: #376f89;

    .container {
        height: 3.6rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        .navbar-brand {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navbar-title {
                color: #fff;
                font-size: 1.6rem;
                font-weight: bold;
            }

            .navbar-burger {
                display: none;
                align-items: center;
                justify-content: center;
                margin-right: .4rem;
                border-radius: .3rem;
                cursor: pointer;
                width: 2.8rem;
                height: 2.8rem;

                svg {
                    width: 1.6rem;
                    height: 1.6rem;
                    fill: currentColor;
                }

                &:hover {
                    background-color: rgba(#000, .3);
                }
            }
        }

        .navbar-menu {
            flex: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            gap: .4rem;
            z-index: 10000;

            .navbar-start,
            .navbar-end {
                display: flex;
                align-items: center;
                gap: .4rem;
                list-style: none;
                margin: 0;
                padding: 0;

                .navbar-item {
                    height: 3.6rem;
                    display: flex;
                    align-items: center;

                    >a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .3rem;
                        height: 2.8rem;
                        padding: 0 .6rem;
                        color: #fff;
                        font-weight: bold;

                        svg {
                            width: 1rem;
                            height: 1rem;
                            fill: currentColor;
                        }

                        span {
                            white-space: nowrap;
                        }
                    }

                    .subnav {
                        display: none;
                        position: fixed;
                        top: 3.6rem;
                        min-width: 10rem;
                        background-color: #376f89;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        border-radius: 0 0 .3rem .3rem;
                        overflow: hidden;

                        .subnav-item {
                            a {
                                display: flex;
                                align-items: center;
                                height: 2.8rem;
                                padding: 0 1.9rem;
                                color: #fff;
                                font-weight: bold;
                            }

                            &:hover {
                                background-color: rgba(#000, .3);
                            }
                        }
                    }

                    &:hover,
                    &.active {

                        >a {
                            border-radius: .3rem;
                            background-color: rgba(#000, .3);
                        }

                        .subnav {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.mask {
    &::after {
        display: none;
    }
}

@media (max-width: 900px) {
    .navbar {
        .container {
            padding-right: 0;

            .navbar-brand {
                flex: auto;

                .navbar-burger {
                    display: flex;
                }
            }

            .navbar-menu {
                display: none;
                overflow: hidden auto;
                flex-direction: column;
                justify-content: flex-start;
                position: absolute;
                top: 3.6rem;
                right: 0;
                height: calc(100vh - 3.6rem);
                background-color: #376f89;
                box-sizing: border-box;
                padding-bottom: .4rem;

                .navbar-start,
                .navbar-end {
                    width: 3.6rem;
                    flex-direction: column;
                    gap: .4rem;

                    .navbar-item {
                        height: 2.8rem;

                        >a {
                            width: 2.8rem;
                            height: 2.8rem;
                            padding: 0;
                            gap: normal;

                            svg {
                                width: 1.6rem;
                                height: 1.6rem;
                            }

                            span {
                                display: none;
                            }
                        }

                        .subnav {
                            top: 4rem;
                            right: 4rem;
                            border-radius: .3rem;
                            filter: drop-shadow(0 0 .2rem rgba(0, 0, 0, .5));
                        }
                    }
                }

                &.show {
                    display: flex;
                }
            }
        }
    }

    .mask {
        position: fixed;
        overflow: hidden;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 3.6rem;
            left: 0;
            width: calc(100vw - 3.6rem);
            height: calc(100vh - 3.6rem);
            background-color: rgba($color: #000, $alpha: .3);
            z-index: 9999;
        }
    }
}
